body {
    background-color: rgb(25, 25, 25);
    color: white;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.circle {
    border: 10px double rgb(248, 248, 248);
    
    background-size: cover;
    border-radius: 200px;
    width: 300px;
    height: 300px;
    display: inline-block;
    margin-right: 10%;
    }

.favItem {
    width: 300px;
    height: 300px;
    display: inline-block;
    margin-right: 10%;  
    }

.pic1 {
    background-image: url("Asset/movie_poster.jpg");
}
.pic2 {
    background-image: url("Asset/music_poster.jpg");
}
.pic3 {
    background-image: url("Asset/game_poster.jpg");
}

.mainHeading {
    text-align: center;
    font-family: cursive;
    font-size: 35px;
    text-shadow: 2px 2px 1px #6b6b6b;
}

.favImage {
    max-width: 500px;
    margin: 50px 100px 50px 0px;
    border: 5px outset rgb(248, 248, 248);
    border-radius: 20px;
    box-shadow: 0px 0px 15px 1px rgb(255, 255, 255);
}